<!DOCTYPE html>
<html>
<head>
    <title>Nexhire Job Search</title>
</head>
<body>

<h1>Nexhire Job Search</h1>

<form action="/search" method="GET">
    <input type="text" name="keyword" placeholder="Search jobs">

    <input type="text" name="location" placeholder="Location">

    <button type="submit">Search</button>
</form>

</body>
</html>